@CHARSET "UTF-8";


/* 이미지 가운데 정렬 및 가득 채우기 */

.thumbnail-wrappper { width: 25%; }
.thumbnail { position: relative; padding-top: 100%; /* 1:1 ratio */ overflow: hidden; }
img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; max-width: 100%; height: auto; }


.room-thumb {
	width: 356px;
	height: 283px;
	margin-bottom: 25px;
	float: left;
	overflow: hidden;
	position: relative;
	border: 1px solid #ebebeb;
	-webkit-box-shadow: 0 2px 0 0 #e0e0e0;
	box-shadow: 0 2px 0 0 #e0e0e0;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 5000;
}



/* 이미지 가운데 정렬 및 가득 채우기 */